#element { margin:0; padding:0; font-size:100%; line-height:1; }


body{background-color: #777;
width: 960px;
margin:0 auto;}

header{background-color: #ebebeb;
padding:20px;
margin-bottom: 20px;
text-align: center;
font-size: 68px;
border-style: solid;}

#nav{background-color: #ebebeb;
	height: 50px;
text-align: center;
margin-bottom: 10px;
padding-bottom: 10px;
border-style: solid;}

#section{background-color: #ebebeb;
margin-top: 10px;
width: 495px;
text-align: center;
float: left;
padding-bottom: 30px;
padding-top: 30px;
border-style: solid;
}


.article{background-color: #777;
width: 450px;
margin-left:20px;
margin-top: 10px;
padding-top: 25px;
border-style:so;}

#aside{background-color: #ebebeb;
	margin-top: 10px;
width: 420px;
text-align: center;
float: left;
margin-left: 19px;
margin-bottom: 10px;
padding-bottom: 30px;
padding-top: 30px;
padding-right: 18px;
padding-bottom: 395px;
border-style: solid;}

h1{background-color: #ebebeb;
width:400px;
margin-left: 25px;
border-style: solid;}

h2{background-color: #ebebeb;
width:400px;
margin-left: 25px;
border-style: solid;}

h3{background-color: #ebebeb;
width:400px;
margin-left: 25px;
border-style: solid;}

#footer{float: left;
	background-color: #ebebeb;
	height: 20px;
margin-top:20px;
margin-bottom: 20px;
padding-bottom: 40px;
padding-left: 15px;
padding-top: 10px;
border-style: solid;}


